*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-menu {
    display: block;
    border: 1px solid #707070;
    width: 100%;
}
.hours {
    display: inline-flex;
    padding: 1em;
    margin: 1em 0 0 2em;
   
}
.hours p {
    margin-left: 0.5em;
   
}
.hours i {
    display: flex;
    margin: 10em;
    justify-content: center;
}
.social-logos {
    
    position: relative; 
    top: -45px;
    margin-right: 4em;
    justify-content: right;
    text-align: right;
}
.social-logos i {
    justify-content: space-between;
    color: #2bAAEC;
    padding: .5em;    
}



.social-logos i:hover {
    cursor: pointer;
    color: #25E6C8;
}

.main-menu {
    
    
    margin:3em;
    
    display: block;
}
.list {
    
    display: block;
    justify-content: right;
    color: black;
    text-align: right;
}
.list ul {
    font-size: 1rem;
    list-style-type: none;
    position: relative; 
    top: -65px;
    display: flex;
    text-align: right;
    justify-content: right;
    
}
.list li {
    margin: 10px;
}
.list li:hover {
    cursor: pointer;
    color: #25E6C8;
}
.showcase {
justify-content: center;
display: flex;
background-color:#DEDEDE;
margin: auto;
height: 400px;
}
.showcase img {
   display: inline;
    height: 400px;
    margin-left: 3em;
  
}
.h-text {
    justify-content: right;
    width: 500px;
    padding: 1em 0 0 1em;
    text-align: left;
    display: inline-block;
    font-size: 1.5rem;
    
}
.showcase h1 {
    font-weight: lighter;
}
.h-text p {
    padding-top: 2em;
    font-size: 00.5em;
}
.btn {
   
    margin-top: 2em;
    display: block;
    height: 3em;
    width: 10em;
    background-color:#25E6C8 ;
    
    border-radius: 8px;
    border-color: none;
    
}

.about-us {
    display: absolute;
   
    justify-content: center;
    width: 500px;
    padding: 4em 0 0 4em;
}
.about-us span {
    
    color: #2bAAEC;
} 
.container {
display: flex;
text-align: center;
justify-content: left;
}
.about-us hr {
    background-color: #25E6C8;
    margin: 1em 0 0 2.8em ;
    border: 2px solid #25E6C8;
    justify-content: left;
    width: 100%;
    
    }
   .about-us h1 {
       font-weight: lighter;
   }
    
.about-us p {
    
    margin-top: 1em;
    font-size: 1rem;
    
}
 #about-us-bild {
    
    float: right;
    height: 400px;
    justify-content: right;
    margin-left: 3rem;
}
    .table-group {
        display: block;
       margin-left: 5em;
       text-align: center;
}

.table-group #nr {
    
    color: #2bAAEC;
}
.table-group #text {
    padding: 5px;
}


.our-services {
    margin-top: 20px;
    text-align: center;
    justify-content: center;
  
    
    
}
.our-services h1 {
    font-weight: lighter;
}
.our-services hr{
    margin-right: auto;
    margin-left:auto ;
    justify-content: center;
    text-align: center;
    background-color: #25E6C8;
    display: flex;
    width: 25%;
    
    border: 2px solid #25E6C8;
}
.card-container {
    width: 80%;
    margin: 1em auto;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem   ;
}
.card-1 {
    height: 250px;
    width: 200px;
    
    background-color: white;
    position: relative;

}

.card-body {
    
    position: absolute;
    margin-top: 40px;
    text-align: center;
    top: 4em;
}

.circle-1 {
    border-radius: 50%;
    top: 4em;
    left: 6em;
    position:absolute;
    height: 50px;
    width: 50px;
    background-color: #25e6c8;
    transform: translate(-50%,-50%);
}

.circle-1:hover{
    background-color: #2bAAEC;
}



.avatar-1 {
    background-image: url(./Bilder/toothicon-1.png);
    width: 30px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    box-sizing: 50%;
    position:absolute ;
    left: 6em;
    top: 4em;
    
    transform: translate(-50%,-50%);

}




.card-2 {
    height: 250px;
    width: 200px;
    
    background-color: white;
    position: relative;

}
.avatar-2 {
    background-image: url(./Bilder/toothicaon-2.png);
    width: 30px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    box-sizing: 50%;
    position:absolute ;
    left: 6em;
    top: 4em;
    
    transform: translate(-50%,-50%);

}
.circle-2 {
    border-radius: 50%;
    top: 4em;
    left: 6em;
    position:absolute;
    height: 50px;
    width: 50px;
    background-color: #25e6c8;
    transform: translate(-50%,-50%);
}

.card-3 {
    height: 250px;
    width: 200px;
    
    background-color: white;
    position: relative;

}
.avatar-3 {
    background-image: url(./Bilder/toothicon-3.png);
    width: 30px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    box-sizing: 50%;
    position:absolute ;
    left: 6em;
    top: 4em;
    
    transform: translate(-50%,-50%);

}
.circle-3 {
    border-radius: 50%;
    top: 4em;
    left: 6em;
    position:absolute;
    height: 50px;
    width: 50px;
    background-color: #25e6c8;
    transform: translate(-50%,-50%);
}
.card-4 {
    height: 250px;
    width: 200px;
    
    background-color: white;
    position: relative;

}
.avatar-4 {
    background-image: url(./Bilder/toothicon-4.png);
    width: 30px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    box-sizing: 50%;
    position:absolute ;
    left: 6em;
    top: 4em;
    
    transform: translate(-50%,-50%);

}
.circle-4 {
    border-radius: 50%;
    top: 4em;
    left: 6em;
    position:absolute;
    height: 50px;
    width: 50px;
    background-color: #25e6c8;
    transform: translate(-50%,-50%);
}

.card-5 {
    height: 250px;
    width: 200px;
    
    background-color: white;
    position: relative;

}
.avatar-5 {
    background-image: url(./Bilder/toothicon-5.png);
    width: 30px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    box-sizing: 50%;
    position:absolute ;
    left: 6em;
    top: 4em;
    
    transform: translate(-50%,-50%);

}
.circle-5 {
    border-radius: 50%;
    top: 4em;
    left: 6em;
    position:absolute;
    height: 50px;
    width: 50px;
    background-color: #25e6c8;
    transform: translate(-50%,-50%);
}
.card-6 {
    height: 250px;
    width: 200px;
    
    background-color: white;
    position: relative;

}
.avatar-6 {
    background-image: url(./Bilder/toothicon-6.png);
    width: 30px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    box-sizing: 50%;
    position:absolute ;
    left: 6em;
    top: 4em;
    
    transform: translate(-50%,-50%);

}
.circle-6 {
    border-radius: 50%;
    top: 4em;
    left: 6em;
    position:absolute;
    height: 50px;
    width: 50px;
    background-color: #25e6c8;
    transform: translate(-50%,-50%);
}











@media screen and (max-width: 760px) {

    .top-menu {
        border: none;
    }

.social-logos {
    display: none;
}
.hours {
    display: none;
}
.list  {
    padding-top: 4.5em;
    display: none;
    
    text-align: inline  ;
}
.list li:hover{
    cursor: pointer;
    color: #25E6C8;
}
.logo {
    display: block;
    text-align: left;
    margin-top: 2em;
}
.showcase {
    background: #DEDEDE;
}
.showcase img {
    display: none;
}
.h-text {
    margin-right: 20px;
    text-align: center;
}
.about-us {
    display: none;
    background-color: #eee;
    font-size: 1rem;
   
    text-align: left;
}

.about-us hr {
    display: none;
}
.about-us img {
    display: none;
}
}
    
