*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-menu {
    border: 1px solid #707070;
    padding: 0em 5em  0;
    display: block;
    
}
.hours {
    margin-top: 20px;
    justify-content: left;
    display: flex;
}
.hours p {
    align-items: center;
    margin-left: 10px;
}
.hours img {
    align-items: center;
}
.social-logos {
   
    display: flex;
   text-align: right;
   justify-content: right;
}
.social-logos i {
    display: flex;
    font-size: 1rem;
    margin: 5px;
   
}
.social-logos i:hover {
    color: #25e6c8;
    
}
.main-menu {
   
    justify-content: center;
    margin-left: 5em;
    margin-top: 2em;
   
}
.logo {
    text-align: left;
}
.list {
    border: 1px solid black;
    text-align: right;
    margin-right: 4em;
}
.list li {
    display: inline-flex;
    text-align: right;
    justify-content: right;
    margin:15px;
    margin-bottom: 3em;
}










@media screen and (max-width: 760px) {
.social-logos {
    display: none;
}
.hours {
    display: none;
}
.list  {
    justify-content: space-between;
    text-align: center;
}
.logo {
    text-align: center;
}
}
    
