*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-menu {
    display: block;
    border: 1px solid #707070;
    width: 100%;
}
.hours {
    display: inline-flex;
    padding: 1em;
    margin: 1em 0 0 2em;
   
}
.hours p {
    margin-left: 0.5em;
   
}
.hours i {
    display: flex;
    margin: 10em;
    justify-content: center;
}
.social-logos {
    
    position: relative; 
    top: -45px;
    margin-right: 4em;
    justify-content: right;
    text-align: right;
}
.social-logos i {
    justify-content: space-between;
    color: #2bAAEC;
    padding: .5em;    
}



.social-logos i:hover {
    cursor: pointer;
    color: #25E6C8;
}

.main-menu {
    
    
    margin:3em;
    
    display: block;
}
.list {
    
    display: block;
    justify-content: right;
    color: black;
    text-align: right;
}
.list ul {
    font-size: 1rem;
    list-style-type: none;
    position: relative; 
    top: -65px;
    display: flex;
    text-align: right;
    justify-content: right;
}
.list li {
    margin: 10px;
}
.list li:hover {
    cursor: pointer;
    color: #25E6C8;
}
.showcase {
justify-content: center;
display: flex;
background-color:#DEDEDE;
margin: auto;
height: 400px;
}
.showcase img {
   display: inline;
    height: 400px;
    margin-left: 3em;
  
}
.h-text {
    justify-content: right;
    width: 500px;
    padding: 1em 0 0 1em;
    text-align: left;
    display: inline-block;
    font-size: 1.5rem;
    
}
.h-text p {
    padding-top: 2em;
    font-size: 00.5em;
}
.btn {
   
    margin-top: 2em;
    display: block;
    height: 3em;
    width: 10em;
    background-color:#25E6C8 ;
    color: white;
    border-radius: 8px;
    
    box-shadow: transparent;
}

.about-us {
    display: absolute;
    border: 1px solid black;
    justify-content: center;
    width: 500px;
    padding: 4em 0 0 4em;
}
.about-us span {
    
    color: #2bAAEC;
} 
.about-us hr {
    background-color: #25E6C8;
    margin-top: 1em ;
    border: 2px solid #25E6C8;
    justify-content: left;
    text-align: center;
    
    }
.about-us p {
    
    margin-top: 1em;
    font-size: 1rem;
    
}
.about-us #bild {
    border: 1px solid red;
    display: relative;
    height: 200px;
    justify-content: right;
}
    #grid-section {
        text-align: block;
       
    }


@media screen and (max-width: 760px) {

    .top-menu {
        border: none;
    }

.social-logos {
    display: none;
}
.hours {
    display: none;
}
.list  {
    padding-top: 4.5em;
    display: block;
    justify-content: space-between;
    text-align: center;
}
.list li:hover{
    cursor: pointer;
    color: #25E6C8;
}
.logo {
    display: flex;
    text-align: center;
    margin-top: 2em;
}
.showcase {
    background: #DEDEDE;
}
.showcase img {
    display: none;
}
.h-text {
    margin-right: 20px;
    text-align: center;
}
.about-us {
    display: none;
    background-color: #eee;
    font-size: 1rem;
   
    text-align: left;
}

.about-us hr {
    display: none;
}
.about-us img {
    display: none;
}
}
    
